
*.iml
.gradle/
.idea/
local.properties
.DS_Store

/build/
app/build/
captures/
.externalNativeBuild/
.cxx/

__MACOSX/
*.swp
*~

.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

*.apk
*.ap_

*.log
*.tmp
